---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Portafolio de Ingeniero de Software" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  :root {
    --color-bg: #030014;
    --color-text: #eaeaea;
    --color-primary: #00c8ff; /* Un cian eléctrico */
    --color-secondary: #9f55ff; /* Un morado para gradientes */
    --font-main: "Poppins", sans-serif;
  }

  html {
    font-family: var(--font-main);
    background-color: var(--color-bg);
    color: var(--color-text);
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
    padding: 0;
    background: radial-gradient(
      ellipse at bottom,
      rgba(3, 0, 20, 0.9),
      var(--color-bg) 70%
    );
  }

  section {
    padding: 6rem 2rem; /* Aumentamos el padding para que no se solape con el navbar */
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
  }

  h1,
  h2,
  h3 {
    margin: 0;
    font-weight: 700;
  }

  h1 {
    font-size: clamp(2.5rem, 5vw, 4.5rem);
    color: white;
    line-height: 1.1;
  }

  h2 {
    font-size: clamp(2rem, 4vw, 3rem);
    color: white;
  }

  p {
    font-size: clamp(1rem, 1.5vw, 1.1rem);
    line-height: 1.6;
  }
</style>
